<h1>Fαℓℓεη✰Star Room Directory</h1>
<ul>
    <li *ngFor="let room of rooms">
        {{room.number}}
    </li>
</ul>

<table width="100%">
    <tr *ngFor="let room of data">
        <td class="room-number">
            {{room.name}}
        </td>
        <td class="room-data">
            <table width="100%">
                <tr *ngFor="let occupant of room.occupants"
                    class="occupant-row">
                    <td width="50%">{{occupant.agent.displayName}}</td>
                    <td width="25%">({{occupant.agent.username}})</td>
                    <td>{{occupant.when | date}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
