
h1 {
    color: #800020;
    text-align: center;
}

.room-number {
    background: #800020;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Baloo Chettan', cursive;

    padding: 0.4em;
    border-radius: 0.4em 0 0 0.4em;
    border-spacing: 0em 0.4em;
}

.room-data {
    padding: 0.4em;
    border: 1px #800020 solid;
    border-radius: 0 0.4em 0.4em 0;
    border-spacing: 0em 0.4em;
}

.occupant-row {
    font-family: 'Open Sans', sans-serif;
}
